body {
  color: #626262;
  font-family: "Sanchez", "cera-pro-regular", "Times New Roman", serif;
}

@font-face {
  font-family: cera-pro-regular;
  src: url(../fonts/cera-pro-regular.ttf);
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

.cr-red {
  color: #9a2018;
}

/* General Stylings */

/* ---line-separator--- */
.line-separator {
  margin-top: 20px;
  border-top: solid 3px #cf6666;
  padding-top: 20px;
}

.line-separator-short {
  border-top: solid 2px #cf6666;
  width: 110px;
  margin: 5px 15px;
}

.line-separator-medium {
  border-top: solid 2px #cf6666;
  width: 280px;
  margin: 5px 15px;
}

/* ---Main Nav--- */
#main-nav {
  position: relative;
}

#main-nav input {
  display: none;
}

#burger-con {
  position: absolute;
  right: 0;
  top: 100%;
  width: 250px;
  background: white;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  display: block;
  opacity: 0;
  pointer-events: none;
}

#main-nav input:checked ~ #burger-con {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
  padding: 0 15px;
}

#main-nav ul li a {
  padding: 15px 0;
}

#main-nav label img {
  width: 70px;
  height: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav input:checked ~ label img {
  transform: rotate(90deg);
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 40px;
}

#main-logo {
  max-width: 259px;
  display: flex;
  align-items: center;
}

/* about-us */
#hero {
  background: url(../images/about_hero_image.png) no-repeat;
  height: 200px;
}

#hero-summary p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 0px 26px;
}

.book-now {
  background-color: #9a2018;
  color: #fff;
  font-size: 16px;
  transition: all 500ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  cursor: pointer;
}

.book-now:hover {
  background-color: rgb(196, 28, 28);
}

#book-now-hero {
  height: 67px;
}

#hero-heading-box {
  align-self: end;
}

.hero-img-h2, .hero-img-h3 {
  background: #fff;
  padding: 10px 15px;
  font-size: 14px;
}

.hero-img-h2 span, .hero-img-h3 span {
  color: #9a2018;
  font-size: 12px;
}

/* press releases */
#press-releases {
  background: rgba(239, 239, 239, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

#press-releases h2 {
  grid-column: 1 / -1;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

#press-releases-section {
  grid-column: 1 / -1;
  display: grid;
  gap: 30px;
}

.press-releases-comment {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 15px;
}

.press-releases-comment img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.press-releases-comment p {
  font-style: italic;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  width: 210px;
}

/* nature & activities */
#nature-activities-hero {
  background: url(../images/nature_activities_hero_image.png) no-repeat;
  height: 200px;
}

#nature-activities-hero-summary p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 0px 26px;
}

#nature-activities-hero-heading-box {
  align-self: end;
}

.hero-img-h2, .hero-img-h3 {
  background: #fff;
  padding: 10px 15px;
  font-size: 14px;
}

.hero-img-h2 span, .hero-img-h3 span {
  color: #9a2018;
  font-size: 12px;
}


/* ---Footer--- */

#footer-hero {
  background-image: url(../images/cr-footer.png);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  margin-top: 40px;
  padding-bottom: 80px;
}

#footer-hero h3 {
  margin-top: 30px;
  font-size: 28px;
  margin-bottom: 16px;
  font-family: "cera-pro-regular";
}

#footer-privacy .line-separator {
  margin-top: 0px;
}

#footer-privacy p {
  font-family: "cera-pro-regular", sans-serif;
}

#footer-contact-info h3 {
  font-size: 23px;
}

#footer-contact-info p {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 11px;
}
